ul#scene
	li.layer(data-depth="0.0")
	li.layer(data-depth="0.10")
		.background
	li.layer(data-depth="0.10")
		#particules
			#star.first
	li.layer(data-depth="0.15")
		#particules
			#star.second
	li.layer(data-depth="0.20")
		div.logo
			img(src="http://redekproject.fr/share/Logo.png" alt="logo")
	li.layer(data-depth="0.30")
		.text
			p.sub-title We're currently working on our full site...
	li.layer(data-depth="0.40")
		.text
			h1 Redek Project
	li.layer(data-depth="0.42")
		#particules
			#star.third
	li.layer(data-depth="0.60")
		#particules
			#star.fourth